/* FONTS */

/* ------------------------ */
.b {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.b-button {
    width: 278px;
    color: #ffffff;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
}

h1 {
    width: 391px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

h2 {
    color: black;
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    text-align: center;
}

/* ------------------------ */

.b-header {
    color: #ffffff;
    max-width: 70%;
    margin-left: 16%;
}

.b-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.b-header__link {
    color: #ffffff;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.b-header__nav-menu{
    display: flex;
    justify-content: space-between;
}

.b-header__nav-item {
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: none;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
}

.b-header__link:hover{
    color: #7BCBFF;
}

.b-header__phone-number {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.b-header__phone-image {
    text-decoration: none;  
}

.b-header__phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b-header__town {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b-header__town-select {
    background-color:rgba(255,255,255,0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.b-header__town-option {
    color: #000000;
}

/* ------------------------ */

.b-startbox {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    color: #ffffff;
}

.b-startbox__text {
    margin-top: 110px;
}

.b-startbox__text-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
}

.b-startbox__people-man {
    position: absolute;
    width: 505px;
    height: 592px;
    left: 593px;
    top: 199px;
}

.b-startbox__people-woman {
    position: absolute;
    width: 401px;
    height: 517px;
    left: 923px;
    top: 274px;
}

.b-startbox__form {
    position: absolute;
    width: 381px;
    height: 462px;
    left: 1224px;
    top: 190px;
    background: rgba(0, 94, 163, 0.7);
    border: 3px solid #53B0FF;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
     flex-direction: column;
}

.b-startbox__form-name {
    position: absolute;

    width: 456px;
    height: 171px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

 .b-startbox__form-phone {
    position: absolute;

    width: 278px;
    height: 50px;
    background: #18589E;
    border: 1px solid #4A8FCE;
    box-sizing: border-box;
    border-radius: 6px;
 }

 .b-startbox__form-question {
    /* position: absolute;

    width: 278px;
    height: 50px;
    background: #18589E;
    border: 1px solid #4A8FCE;
    box-sizing: border-box;
    border-radius: 6px; */
    position: relative;
    
    padding: 30px 50px;
    margin: 100px -10px 0 0;
    width: 380px;
    height: 465px;
    z-index: 10;
    border: 3px solid #53B0FF;
    background: rgba(0, 94, 163, 0.7);
    box-sizing: border-box;
    border-radius: 4px;
 }

 .b-startbox__form-button {
    outline: none !important;
    width: 278px;
    color: #fff;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
 }

 .b-startbox__form-agree {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
 }

 .b-startbox__form-item {
     margin-top: 25px;
     margin-right: 60px;
 }
