/* FONTS */

/* ------------------------ */
.b {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.b__button {
    width: 278px;
    color: #ffffff;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
}

h2 {
    color: black;
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    text-align: center;
}

/* ------------------------ */

.b__header {
    color: #ffffff;
    max-width: 67%;
    margin-left: 16%;
}

.b__header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.b__header_link {
    color: #ffffff;
    text-decoration: none;
}

.b__header_nav_menu{
    display: flex;
    justify-content: space-between;
}

.b__header_nav_item {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
}

.b__header_link {
    transition: all 100ms ease-in-out;
}

.b__header_link:hover{
    color: #7BCBFF;
}

.b__header_phone_number {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.b__header_phone_image {
    text-decoration: none;  
}

.b__header_phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b__header_phone_item {
    margin-left: 10px;
}

.b__header_town {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b__header_town_select {
    background-color:rgba(255,255,255,0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.b__header_town_option {
    color: #000000;
}

/* ------------------------ */

.b__startbox {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    position: relative;
}
